<div id="bars">
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
    <div class="bar" [ngClass]="isTalking == true ? 'play' : 'hide'"></div>
  </div>